<div class="reset-body">
    <div class="reset-container">
        <div class="header">
            <h2>CREATE YOUR NEW PASSWORD</h2>
        </div>
        <form class="reset-form" [formGroup]="resetUserForm">

            <div class="reset-input">
                <label class="reset-form-label">Password</label>
                <input type="password" class="reset-form-control" formControlName="password">
                <div class="text-danger" *ngIf="resetUserForm.controls['password'].invalid && (isFormSubmitted || resetUserForm.controls['password'].touched || resetUserForm.controls['password'].dirty)">
                   <span *ngIf="resetUserForm.controls['password'].errors?.['required']">This field is required</span>
                   <span *ngIf="resetUserForm.controls['password'].errors?.['minlength']">This field is minimum 6 charactors</span>
                </div>
              </div>
            
              <div class="reset-input">
                <label class="reset-form-label">Confirm Password</label>
                <input type="password" class="reset-form-control" formControlName="crmpassword">
                <div class="text-danger" *ngIf="resetUserForm.controls['crmpassword'].invalid && (isFormSubmitted || resetUserForm.controls['crmpassword'].touched || resetUserForm.controls['crmpassword'].dirty)">
                   <span *ngIf="resetUserForm.controls['crmpassword'].errors?.['required']">This field is required</span>
                   <span *ngIf="resetUserForm.controls['crmpassword'].errors?.['minlength']">This field is minimum 6 charactors</span>
                   <span *ngIf="resetUserForm.controls['crmpassword'].errors?.['MustMatch']">Confirm password does't match</span>
                </div>
              </div>

              <div class="reset-input-button">
                <input type="Submit" (click)="onReset()" value="Reset Possword">
            </div>
        </form>
    </div>
</div>