<div class="navbar-body">
    <div class="navbar">
        <ul class="navbar-imp">
          <li><a routerLink="/accountinfo" routerLinkActive="active">Account Information</a></li>
          <li><a routerLink="/customerinfo" routerLinkActive="active">Customer Information</a></li>
          <li><a routerLink="/checkbalance" routerLinkActive="active">Check Balance</a></li>
          <li><a routerLink="/transaction-info" routerLinkActive="active">Transaction Information</a></li>
          <li><a routerLink="/deposit-withdraw" routerLinkActive="active">Deposit & Withdraw</a></li>
        </ul>
        <ul class="navbar-logout">
          <li id="logout" (click)="onLogout()">Logout</li>
        </ul>
    </div>
</div>