<div class="forgot-body">
    <div class="forgot-container">
        <div class="header">
            <h2>YOUR REGISTER EMAIL</h2>
        </div>
        <form class="reg-form" [formGroup]="forgotUserForm">
            
        <div class="forgot-input">
            <label class="forgot-form-label">Email Id</label>
            <input type="email" class="forgot-form-control" formControlName="emailId">
            <div class="text-danger" *ngIf="forgotUserForm.controls['emailId'].invalid && (isFormSubmitted || forgotUserForm.controls['emailId'].touched || forgotUserForm.controls['emailId'].dirty)">
               <span *ngIf="forgotUserForm.controls['emailId'].errors?.['required']">This field is required</span>
               <span *ngIf="forgotUserForm.controls['emailId'].errors?.['email']">This field must be email proper</span>
            </div>
        </div>

            <div class="forgot-input-button">
                 <input type="Submit" (click)="onForgot()" value="Submit Reset">
             </div>
            <div class="forgot-login-link">
                <p><a routerLink="/login" routerLinkActive="active">Cancel and go back to login page</a></p>
            </div>
        </form>
    </div>
</div>