.disclaimers-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
  }
  
  .disclaimer-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .disclaimer-header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-decoration: underline;
    color: #2c3e50;
  }
  
  .disclaimer-content {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .disclaimer-section {
    margin-bottom: 25px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .disclaimer-section h2 {
    font-size: 1.8em;
    color: #34495e;
    margin-bottom: 10px;
  }
  
  .disclaimer-section p {
    font-size: 1em;
    color: #7f8c8d;
    line-height: 1.6;
  }
  
  .disclaimer-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    color: #7f8c8d;
  }
  
  .disclaimer-footer p {
    margin-top: 10px;
  }

  .disclaimer-section a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .disclaimer-section a:hover{
      text-decoration: underline;
      color: blue;
    }
  